@tailwind base;
@tailwind components;
@tailwind utilities;

.hero:hover .hero_animation {
  animation: letters 1.75s steps(12, end), cursor 0.4s step-end infinite alternate;
}
@keyframes letters {
  0% {
    width: 0;
  }
  100% {
    width: 423px;
  }
}
